<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>이준형</h2>
<div th:if="${session.loginCompany ne null}">
<p th:text="${session.loginCompany.company_id}"></p>
</div>
<a href="/reg_company_form">기업회원가입폼</a>
<a href="/company/company_edit_profile">기업회원수정</a>
<a href="/company/log">임시로그인</a>
<a href="/company/job_posting_create">채용공고등록</a>
<a href="/company/company_introduction_create">회사소개 등록</a>
</body>
</html>