<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>이준형</h2>
<div th:if="${session.loginCompany ne null}">
<p th:text="${session.loginCompany.company_id}"></p>
</div>
<a href="/reg_company_form">기업회원가입폼</a>
<a href="/company/company_edit_profile">기업회원수정</a>
<a href="/company/log">임시로그인</a><br>
<a href="/company/job_posting_create">채용공고등록</a>
<a href="/company/job_posting_edit?posting_id=1">채용공고수정</a>
<a href="/company/all">전체채용공고리스트</a>
<a href="/company/company_job_postings_list">자신이 작성한 공고 리스트</a>
<a href="/company/job_posting_detail_company?posting_id=1">채용공고상세페이지</a><br>
<a href="/company/company_introduction_create">회사소개 등록</a>
<a href="/company/company_introduction_detail?info_id=1">회사소개 상세페이지</a>
<a href="/company/company_introduction_edit?info_id=1">회사소개 수정페이지</a>
</body>
</html>