<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>user_main page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function fetchUserInfo() {
    $.ajax({
        url: "http://localhost:8888/userInfo",
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function(data) {
            if (data) {
                $("#userName").text(data.name);
                $("#userEmail").text(data.email);
                $("#email").val(data.email);
                $("#name").val(data.name);
                $("#loggedInSection").show();
                $("#loggedOutSection").hide();
                
                if(data.role == "ROLE_COMPANY"){
                	window.location.href ="/leindex";
            	}else{
            		console.log("탐색실패");
            	}
            } else {
                window.location.href = "/";
            }
        },
        error: function() {
        }
    });
}

function login() {
    // 로그인 버튼을 클릭할 때 사용자 정보를 가져옴
    window.location.href = "http://localhost:8888/login";
}

$(document).ready(function() {
    fetchUserInfo();
});
</script>

</head>
<body>
    <div id="loggedOutSection">
        <button onclick="login()">로그인</button>
    </div>
    <div id="loggedInSection" style="display:none;">
        <h1>
            Welcome, <span id="userName">User</span>!
        </h1>
        <p>Your email is <span id="userEmail"></span>.</p>
        <a href="http://localhost:8888/logout">Logout</a>
        
        <a href="/user/resume">이력서 등록</a>
    <a href="/user/resumeList">이력서 리스트</a>
    <a href="/user/updateUserInfo">회원정보수정</a>
    </div>
    
    <a href="/user/postList">공고 리스트 조회</a>
    <a href="/user/userMyPage">마이페이지</a>
    <a href="/user/scrapList">스크랩 리스트</a>
    <a href="/user/appliedList">지원한 공고 목록</a>
    <a href="/user/positionMatch">포지션 매칭 목록</a>
</body>
</html>
