<div class="header">
        <img src="/images/흰색강아지로고.png"></img>
        <div class="menu">
            <a href="/user/postList">채용 공고</a>
            <a href="/user/positionMatch">포지션 매칭</a>
        </div>
        <div class="user-info">
        	<button id="loggedOutSection" onclick="login()">로그인</button>
        	<div id="loggedInSection" style="display:none;">
            <span class="mypage" ><a href="/user/userMyPage"><span id="userName">User</span></a></span>
            <span class="logout"><a href="http://localhost:8888/logout">Logout</a></span>
            </div>
        </div>
    </div>
    
    