        <div class="sidebar">
            <h2>메뉴</h2>
            <strong><a href="/nindex" style="color:white;">개인회원 홈</a></strong>
            <strong><a href="/user/resumeList">이력서 관리</a></strong>
            <div style="margin-left: 10px;">
                <a href="/user/resume">이력서 등록</a>
                <a href="/user/resumeList">이력서 현황</a>
            </div>
            <strong><a href="/user/appliedList">입사지원·제안 관리</a></strong>
            <div style="margin-left: 10px;">
                <a href="/user/appliedList">입사지원 현황</a>
                <a href="/user/positionProposal">받은 포지션 제안</a>
            </div>
            <strong><a href="/user/scrapList">관심 공고</a></strong>
            <div style="margin-left: 10px;">
                <a href="/user/scrapList">스크랩 공고</a>
            </div>
            <strong><a href="/user/updateUserInfo">회원정보 관리</a></strong>
            <div style="margin-left: 10px;">
                <a href="/user/updateUserInfo">회원정보 수정</a>
            </div>
        </div>