<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
    	function fetchUserInfo() {
            $.ajax({
                url: "http://localhost:8888/userInfo",
                method: "GET",
                xhrFields: {
                    withCredentials: true
                },
                success: function(data) {
                    if (data) {
                        $("#userName").text(data.name);
                        $("#userEmail").text(data.email);
                        $("#email").val(data.email);
                        $("#companyEmail").val(data.email);  // Populate company email field
                        $("#name").val(data.name);
                        // Check for additional info
                        if (data.hasAdditionalInfo) {
                        	console.log(data.role);
                        	if(data.role == "ROLE_USER"){
                        		
                        		window.location.href ="/nindex";
                        	}else{
                        		console.log(data.user_id);
                        		
                        		window.location.href ="/leindex?company_id="+data.user_id;
                        	}
                            
                        }
                    }
                },
                error: function() {
                    alert("Failed to fetch user info.");
                }
            });
        }


         // JSON 데이터를 로드하고 시/도 선택박스에 추가
            fetch('/json/korea-administrative-district.json')
            .then(response => response.json())
            .then(data => {
                const citySelect = document.getElementById('city');
                data.forEach(city => {
                    for (const cityName in city) {
                        const option = document.createElement('option');
                        option.value = cityName;
                        option.text = cityName;
                        citySelect.add(option);
                    }
                });
            });


            // 시/도 선택이 변경되면 구/군 선택박스를 업데이트
            document.getElementById('city').addEventListener('change', function() {
                const selectedCity = this.value;
                const districtSelect = document.getElementById('district');
                districtSelect.innerHTML = ''; // 기존 옵션 제거

                fetch('/json/korea-administrative-district.json')
                .then(response => response.json())
                .then(data => {
                    data.forEach(city => {
                        if (city[selectedCity]) {
                            city[selectedCity].forEach(district => {
                                const option = document.createElement('option');
                                option.value = district;
                                option.text = district;
                                districtSelect.add(option);
                            });
                        }
                    });
                });
            });
            
            $("#signupForm").submit(function(event) {
                event.preventDefault();

                var formData = {
                        email: $("#email").val(),
                        name: $("#name").val(),
                        contact: $("#contact").val(),
                        city: $("#city").val(),
                        district: $("#district").val(),
                        address: $("#address").val(),
                        birth_date: $("#birthDate").val(),
                        gender: $("#gender").val()
                    };

                $.ajax({
                    type: "POST",
                    url: "http://localhost:8888/signup",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    success: function(response) {
                        alert("Signup successful!");
                        window.location.href = "/nindex"; // 성공 시 리디렉션
                    },
                    error: function(xhr, status, error) {
                        alert("Signup failed: " + xhr.responseText);
                    }
                });
            });
            
            $("#jobSeekerTab").click(function() {
                $("#jobSeekerContainer").show();
                $("#companyContainer").hide();
            });

            $("#companyTab").click(function() {
                $("#jobSeekerContainer").hide();
                $("#companyContainer").show();
            });
        
        fetchUserInfo();
        pre1();
        pre2();
        
      
        
        
        function pre1(){
        	//업종 관련
        	let sector1 =document.getElementById("sector1");
        	sector1.innerHTML ='<option value="" class="always">선택</option>';
        	document.getElementById("sector2").innerHTML ='<option value="" class="always">선택</option>';
           const xhttp = new XMLHttpRequest();
           xhttp.onload = function() {
        	  
           	let results =JSON.parse(this.responseText);
           	//alert(results);
           	results.forEach(result => {
           		//아직 미완성 
           		//alert(result);
           		let code =result.코드;
           		let name = result.업종명;
           		sector1.innerHTML += '<option value =' +code+'>'+name+'</option>';
           	})
              
           };
           xhttp.open("get", "http://localhost:8888/json/sector_category", true);
          // xhttp.setRequestHeader("Content-type", "application/json");
           xhttp.send();
        }
        function pre2(){
        	let address1 =document.getElementById("address1");
        	address1.innerHTML ='<option value="" class="always">선택</option>';
        	document.getElementById("address2").innerHTML ='<option value="" class="always">선택</option>';
           const xhttp = new XMLHttpRequest();
           xhttp.onload = function() {
        	  
           	let result =JSON.parse(this.responseText);
            Object.keys(result).forEach(key => {
                address1.innerHTML += '<option value="' + key + '">' + key + '</option>';
            });
              
           };
           xhttp.open("get", "http://localhost:8888/json/address1", true);
          // xhttp.setRequestHeader("Content-type", "application/json");
           xhttp.send();
        }
        
      
        
        
        
        
           
            
    });
    
  //업종1을 선택하면 업종2를 바꿔주는 메서드
    function sector1SelectChanged() {
    	let sector1 = document.querySelector("#sector1").value;
    	//alert(sector1);
    	 document.getElementById("sector2").innerHTML ='<option value="" class="always">선택</option>';
       
       const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
       	let sector2 =JSON.parse(this.responseText);
       	
       	sector2.forEach(sector => {
       		 document.getElementById("sector2").innerHTML += '<option value =' +sector+'>'+sector+'</option>';
       	})
          
       };
       xhttp.open("get", "http://localhost:8888/json/sector/" + sector1, true);
      // xhttp.setRequestHeader("Content-type", "application/json");
       xhttp.send();
    }
  //주소1을 선택하면 주소2내용을 바꿔주는 메서드
    function address1SelectChanged() {
    	let address1 = document.querySelector("#address1").value;
    	//alert(sector1);
    	 document.getElementById("address2").innerHTML ='<option value="" class="always">선택</option>';
       
       const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
       	let address2 =JSON.parse(this.responseText);
       	
       	address2.forEach(address => {
       		 document.getElementById("address2").innerHTML += '<option value =' +address+'>'+address+'</option>';
       	})
          
       };
       xhttp.open("get", "http://localhost:8888/json/address2/" + address1, true);
      // xhttp.setRequestHeader("Content-type", "application/json");
       xhttp.send();
    }
    function reg(e) {
        e.preventDefault();
        console.log("reg들어옴")
        let frm = document.querySelector("#companyFrm");
        let data = {
            "email": frm.email.value,
            "company_name": frm.company_name.value,
            "registration_number": frm.registration_number.value,
            "company_type": frm.sector1.value + "//" + frm.sector2.value,
            "representative_name": frm.representative_name.value,
            "address": frm.address1.value + "//" + frm.address2.value + "//"+frm.detailAddress.value,
            "tel": frm.tel.value,
            "role": frm.role.value
        };
        let sendData = JSON.stringify(data);
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
        	alert(this.responseText);
        	let result = this.responseText;
        	if(result.includes ("successful")){
        	window.location.href = "/leindex"; // 성공 시 리디렉션
        	}
        };
        xhttp.open("post", "http://localhost:8888/signup/company");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(sendData);
    }
    </script>
</head>
<body>
    <div>
        <h1>Welcome, <span id="userName">User</span>!</h1>
        <p>Your email is <span id="userEmail"></span>.</p>
    </div>
    <h1>Additional Information</h1>
	<div>
        <button id="jobSeekerTab">Job Seeker Registration</button>
        <button id="companyTab">Company Registration</button>
    </div>
    <div id="jobSeekerContainer" style="display:none;">
        <form id="signupForm">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" readonly required />
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div>
            	<label for="contact">Contact:</label>
            	<input type="text" id="contact" name="contact" required maxlength="11"/>
            </div>
            <div>
                <label for="city">City:</label>
                <select id="city" name="city" required>
                <option value="">선택</option>
                </select>
            </div>
            <div>
                <label for="district">District:</label>
                <select id="district" name="district" required>
                <option value="">선택</option>
                </select>
            </div>
            <div>
                <label for="address">Detailed Address:</label>
                <input type="text" id="address" name="address" required />
            </div>
            <div>
                <label for="birthDate">Birth Date:</label>
                <input type="date" id="birthDate" name="birth_date" required/>
            </div>
            <div>
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                	<option value="">선택</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div>
                <button type="submit">Submit</button>
        	</div>
   		</form>
    </div>
    <div id="companyContainer" style="display:none;">
        <form id="companyFrm">
            이메일 : <input type="text" name="email" id="companyEmail"><br> 
            업종 :<select id="sector1" name="sector1" onchange="sector1SelectChanged()"></select>
	<select id="sector2" name="sector2"></select><br>
            사업자등록번호 : <input type="text" name="registration_number"><br>
            회사명 : <input type="text" name="company_name"><br>
            대표자명 : <input type="text" name="representative_name"><br>
            회사주소 :<select id="address1" name="address1" onchange="address1SelectChanged()"></select>
	<select id="address2" name="address2"></select>
	<input type="text" name="detailAddress"><br>
            전화번호 : <input type="text" name="tel"><br>
            <input type="text" name="role" value="ROLE_COMPANY"/>
            <button onclick="reg(event)">회원가입</button>
        </form>
    </div>
    <div id="result_post"></div>
    
</body>
</html>
