<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
all
<div id = "box"></div>

<script >
pre();
function pre(){
	let box = document.querySelector("#box");

    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
       let postings = JSON.parse(this.responseText);
      
       postings.forEach(posting =>{
    	   box.innerHTML += "<div>" +posting.posting_id+"</div>";
       });
       
       
    };
    xhttp.open("GET", "http://localhost:8888/company/jobposting");
    xhttp.send();
}
</script>
</body>
</html>