<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link th:if="${session.company_id ne null}" rel="stylesheet" type="text/css" href="/css/company.css">   
</head>
<body>
    <div th:if="${session.company_id ne null}" th:replace="header :: headerFragment">
        <!-- The header content will be included here -->
    </div>
    <div class="container">
        
        <div class="sidebar" th:if="${session.company_id ne null}" th:replace="sidebar :: sidebarFragment">
            <!-- Sidebar content will be included here -->
        </div>
        <div class="content">
          <h1>공고 지원자 리스트</h1>
<div id = "box"></div>
<div id="result"></div>
        </div>
    </div>

<script >
pre();
function pre(){
	let box = document.querySelector("#box");
	let posting_id="[[${posting_id}]]";
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
       let users = JSON.parse(this.responseText);
       
       users.forEach(user =>{
    	   let status ="";
    	   if(user.resumeStatus == 0){
    		   status = "미결정";
    	   }else if(user.resumeStatus == 1){
    		   status = "서류합격";
    	   }else if(user.resumeStatus == 2){
    		   status = "서류불합격";
    	   }
    	   
    	  box.innerHTML += '<div class="application_id"id='+user.application_id+'> <span class="name">' + user.name + '</span>'+
    	   '<span class="UserInfo">'+user.birth_date.slice(0,10)+'/'+user.gender+'/'+user.email+'</span>' +
    	   '<span class="staus">'+status+'</span>'+
    	   '<span class="resumeDetail" id='+user.resume_id+'><button class="resumeBtn" onclick="resumeDetail(event)">이력서보기</button></span></div>';
       });
       
       
    };
    xhttp.open("GET", "http://localhost:8888/company/jobapplication/posting_id/" + posting_id);
    xhttp.send();
}
 function resumeDetail(e){
	 let resume_id = e.target.closest(".resumeDetail").id;
	 let application_id=e.target.closest(".application_id").id;
	 let company_id = "[[${session.company_id}]]";
	 location.href="/user/resumeDetail?resume_id="+resume_id+"&application_id="+application_id+"&company_id="+company_id;
 }
</script>
</body>
</html>