<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
<h1>기업소개 수정</h1>
파일 처리 어떻게 할껀지 부터 시작!!!!!!!
<form name="frm" id="companyInfoFrm" method="POST">
	공고번호:<input type="text" name="company_id" th:value="${info_id}">
	회사로고 :<input type="file" name="file"><br>
	회사소개 :<textarea name="description"></textarea><br>
	사원수 :<input type="number" name="number_of_employees"><br>
	근무환경 :<input type="text" name="working_environment"><br>
	복리후생 :<input type="text" name="benefits"><br>
	인재상 :<input type="text" name="ideal_candidate"><br>
	전화번호 :<input type="text" name="main_contact"><br>
	이메일 :<input type="text" name="main_email"><br>
	<input type="submit" onclick="reg11(event)" value="등록">
	
</form>
<div id="demo"></div>

<script src="/js/json.js"></script>
<script>

preCompanyInfo();

function preCompanyInfo(){	
	let frm = document.querySelector("#companyInfoFrm");
	let id = "[[${info_id}]]";
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
       let companyInfo = JSON.parse(this.responseText);
       
       frm.description.value = companyInfo.description;
       frm.number_of_employees.value = companyInfo.number_of_employees;
       frm.working_environment.value = companyInfo.working_environment;
       frm.benefits.value = companyInfo.benefits;
       frm.ideal_candidate.value = companyInfo.ideal_candidate;  
       frm.main_contact.value = companyInfo.main_contact;
       frm.main_email.value = companyInfo.main_email;
    };
    xhttp.open("get", "http://localhost:8888/company/companyInfo/info_id/"+id);
    xhttp.send();
}
	
</script>

</body>
</html>