<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:if="${session.company_id ne null}" rel="stylesheet" type="text/css" href="/css/company.css">   
</head>
<body>
    <div th:if="${session.company_id ne null}" th:replace="header :: headerFragment">
        <!-- The header content will be included here -->
    </div>
    <div class="container">
        
        <div class="sidebar" th:if="${session.company_id ne null}" th:replace="sidebar :: sidebarFragment">
            <!-- Sidebar content will be included here -->
        </div>
        <div class="content">
         
         
<h1>자신이 작성한 공고 리스트</h1>
<div id = "box"></div>
<div id="result"></div>
         
         
         
        </div>
    </div>

<script >
pre();
function pre(){
	let box = document.querySelector("#box");
	let company_id="[[${session.company_id}]]";
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
       let postings = JSON.parse(this.responseText);
       let deadline_status;
       postings.forEach(posting =>{
    	   if(posting.deadline_status==0){
    		   deadline_status = '<button class="closeBtn" onclick="closePosting(event)">공고마감</button>';
    	   }else{
    		   deadline_status = '공고마감';
    	   }
    	   box.innerHTML += '<div id='+posting.posting_id+'> <span class="application_deadline">' + posting.application_deadline.slice(0, 10) + '</span>'+
    	   '<span class="postingTitle"><p><a href="/company/job_posting_detail_company?posting_id='+posting.posting_id+'">'+posting.title+'</a></p>'+
    	   '<p class="applicantNumber"></p></span>'+
    	   '<span class="applicant"><button class="applicantBtn" onclick="applicantList(event)">지원자리스트</button></span>'+
    	   '<span class="postingClose">'+deadline_status+'</span>'+
    	   '<span class="postingDelete"><button class="deleteBtn" onclick="deletePosting(event)">공고삭제</button></span></div><hr>';
       });
       
       
    };
    xhttp.open("GET", "http://localhost:8888/company/jobposting?company_id=" + company_id);
    xhttp.send();
}

function applicantList(e){
	let id = e.target.closest('div').id;
	location.href = "/company/applicants_list?posting_id="+id;
}

function deletePosting(e){
	let id = e.target.closest('div').id;

	const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
    	document.querySelector("#result").innerHTML=this.responseText;
    };
    xhttp.open("delete", "http://localhost:8888/company/jobposting/" + id);
    xhttp.send();
}
function closePosting(e){
	let div = e.target.closest('div');

	const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
    	let postingClose = e.target.closest('.postingClose');
    	postingClose.innerHTML = "공고마감";
    };
    xhttp.open("put", "http://localhost:8888/company/jobposting/status/" + div.id);
    xhttp.send();
}
</script>
</body>
</html>