<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:if="${session.company_id ne null}" rel="stylesheet" type="text/css" href="/css/company.css">   

<style>
	
	 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

       

       

        .content {
            /* Sidebar 너비와 동일하게 설정 */
            padding: 20px;
            box-sizing: border-box;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h1 {
            color: #2F4F4F;
        }

        form {
            margin-top: 20px;
        }

        input[type="text"], input[type="number"], select, textarea, input[type="file"] {
            width: calc(100% - 10px); /* 폼 요소 너비 조정 */
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 14px;
        }

        textarea {
            resize: vertical; /* 수직 리사이즈 가능하도록 설정 */
        }

        button {
            background-color: #2F4F4F;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1E3940;
        }
	</style>
</head>
<body>
    <div th:if="${session.company_id ne null}" th:replace="header :: headerFragment">
        <!-- The header content will be included here -->
    </div>
    <div class="container">
        
        <div class="sidebar" th:if="${session.company_id ne null}" th:replace="sidebar :: sidebarFragment">
            <!-- Sidebar content will be included here -->
        </div>
        <div class="content">
         
         <h1>채용 공고 수정</h1>

<form id="postingFrm">
	posting_id : <input type="number" name="posting_id" th:value="${posting_id}">
	company_id : <input type="number" name="company_id" th:value="${session.company_id}">
	공고제목 : <input type="text" name="title" > <br>
	모집업종 :  <select id="sector1" name="sector1" onchange="sector1SelectChanged()"></select>
	<select id="sector2" name="sector2"></select><br>
	모집직무 : <select id="job_role1" name="job_role1" onchange="job_role1SelectChanged()"></select> 
	<select id="job_role2" name="job_role2" onchange="job_role2SelectChanged()"></select><br>
	직무내용 : <textarea name="job_description" ></textarea> <br>
	경력사항 : <input type="text" name="experience_required"><br>
	고용형태 :  <select id="employment_type" name="employment_type"></select><br>
	모집인원 : <input type="number" name="number_of_positions"><br>
	임금조건 : <input type="text" name="salary_condition"><br>
	임금형태 : <input type="text" name="salary_type"><br>
	학력조건 : <select id="education_requirement" name="education_requirement"></select><br>
	필요스킬 : <select id="required_skill1" name="required_skill1" onchange="required_skill1SelectChanged()"></select>
	<select id="required_skill2" name="required_skill2" onchange="required_skill2SelectChanged()"></select><br>
	근무지역 : <select id="address1" name="address1" onchange="address1SelectChanged()"></select>
	<select id="address2" name="address2"></select>
	<input type="text" name="detailAddress"><br>
	근무시간 : <input type="text" name="working_hours"><br>
	기타복리후생 : <input type="text" name="benefits"><br>
	키워드 :  <span id="keyword1"></span> <br>
	<span id="keyword2"></span><br>
	담당자 이름 : <input type="text" name="contact_person_name"><br>
	담당자 이메일 : <input type="text" name="contact_person_email"><br>
	담당자 연락처 : <input type="text" name="contact_person_phone"><br>
	마감일자 : <input type="date" name="application_deadline"><br>
	<br><br>
<button onclick="update(event)">수정</button>
<button onclick="deleteJobposting()">삭제</button>
</form>


         
         
         
         
        </div>
    </div>

<script src="/js/json.js"></script>
<script>

pre1();
pre2();
pre3();
pre4();
pre5();
pre6();
preJobposting();
//직무2를 선택하면 키워드가 저장되는 메서드
function job_role2SelectChanged(){
	let job_role2 = document.querySelector("#job_role2").value;
	//alert(job_role1);
	 document.getElementById("keyword1").innerHTML =job_role2;
	 
}
//스킬2를 선택하면 키워드가 저장되는 메서드
function required_skill2SelectChanged(){
	let required_skill2 = document.querySelector("#required_skill2").value;
	//alert(job_role1);
	 document.getElementById("keyword2").innerHTML =required_skill2;
	 
}
//페이지 이동시 기존 정보 불러오기
function preJobposting() {
	let posting_id = "[[${posting_id}]]";
	let frm = document.querySelector("#postingFrm");
	
  const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        let posting =JSON.parse(this.responseText);
       // alert(posting);
        frm.title.value = posting.title;
        frm.job_description.value =posting.job_description;
        frm.experience_required.value = posting.experience_required;
        frm.number_of_positions.value = posting.number_of_positions;
        frm.salary_condition.value = posting.salary_condition;
        frm.salary_type.value = posting.salary_type;
        frm.working_hours.value = posting.working_hours;
        frm.benefits.value = posting.benefits;
        frm.contact_person_name.value = posting.contact_person_name;
        frm.contact_person_email.value = posting.contact_person_email;
        frm.contact_person_phone.value = posting.contact_person_phone;
        frm.application_deadline.value = posting.application_deadline.substring(0, 10);
      //업종 부분    안됨 !!!!! 수정 해야함!!!!!!!!!!!!!!!!!!!!!!!!!!
   	let parts = posting.industry.split('//');
           // 공백이 두 개 미만이면 빈 문자열 반환
           let sector1=parts[0];
           let sector2=parts[1];           
           selectOptionByValue("sector1", sector1);
           //비동기로 실행해야해서 콜백함수 씀(json.js의 코드도 바뀜)
           sector1SelectChanged(function() {
               selectOptionByValue("sector2", sector2);
           });
     //주소 부분
     parts = posting.location.split('//');
     let address1=parts[0];
     let address2=parts[1];
     let detailAddress='';
     if (parts.length <= 2) {
  	   detailAddress = '';
     }
     detailAddress = parts[2];
     frm.detailAddress.value = detailAddress;
     selectOptionByValue("address1", address1);
     address1SelectChanged(function() {
         selectOptionByValue("address2", address2);
     });
     //직무 부분   안됨 !!!!! 수정 해야함!!!!!!!!!!!!!!!!!!!!!!!!!!
		// 문자열을 공백으로 나눔
    parts = posting.job_role.split('//');
    let job_role1=parts[0];
    let job_role2=parts[1];           
    selectOptionByValue("job_role1", job_role1);
    job_role1SelectChanged(function() {
        selectOptionByValue("job_role2", job_role2);
        job_role2SelectChanged();
    });
    //고용형태
    selectOptionByValue("employment_type", posting.employment_type);
    //학력조건
    selectOptionByValue("education_requirement", posting.education_requirement);
    //필요스킬
    parts = posting.required_skills.split('//');
    let required_skills1=parts[0];
    let required_skills2=parts[1];
    selectOptionByValue("required_skill1", required_skills1);
    required_skill1SelectChanged(function() {
        selectOptionByValue("required_skill2", required_skills2);
        required_skill2SelectChanged();
    });
    };
    xhttp.open("get", "http://localhost:8888/company/jobposting/"+posting_id);
   // xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
}

function update(e) {
    e.preventDefault();
    let frm = document.querySelector("#postingFrm");
    let p_id ="[[${posting_id}]]";
    let data = {
    	"posting_id" : frm.posting_id.value,
        "company_id": frm.company_id.value,
        "title": frm.title.value,
        "industry": frm.sector1.value + "//" + frm.sector2.value,
        "job_role": frm.job_role1.value + "//" + frm.job_role2.value,
        "job_description": frm.job_description.value,
        "experience_required": frm.experience_required.value ,
        "employment_type": frm.employment_type.value,
        "number_of_positions": frm.number_of_positions.value,
        "salary_condition": frm.salary_condition.value,
        "salary_type": frm.salary_type.value,
        "education_requirement": frm.education_requirement.value,
        "required_skills": frm.required_skill1.value + "//" + frm.required_skill2.value,
        "location": frm.address1.value +"//"+frm.address2.value +"//"+frm.detailAddress.value ,
        "working_hours": frm.working_hours.value,
        "benefits": frm.benefits.value,
        "keywords": frm.job_role2.value + "//" + frm.required_skill2.value,
        "contact_person_name": frm.contact_person_name.value,
        "contact_person_email": frm.contact_person_email.value,
        "contact_person_phone": frm.contact_person_phone.value,
        "application_deadline": frm.application_deadline.value,
    };
    let sendData = JSON.stringify(data);
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        document.getElementById("result_post").innerHTML = this.responseText;
    };
    xhttp.open("put", "http://localhost:8888/company/jobposting");
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(sendData);
}
function deleteJobposting(){
	 //e.preventDefault();
    let frm = document.querySelector("#postingFrm");
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        document.getElementById("result_delete").innerHTML = this.responseText;
    };
    xhttp.open("delete", "http://localhost:8888/company/jobposting/" + frm.posting_id.value);
    //xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
}

</script>
</body>
</html>