<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> 포지션 제안자 리스트</h1>
<div id = "box"></div>
<div id="result"></div>
<script >
pre();
function pre(){
	let box = document.querySelector("#box");
	let company_id="[[${session.company_id}]]";
 

	
//여기서 부터 밑에보기!!!!!!!	
	
	
	
	
	
	const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
       let postings = JSON.parse(this.responseText);
       
       postings.forEach(posting =>{
    	   
    	  box.innerHTML += '<div class="proposal_id"id='+posting.posting_id+'> <span class="title">' +posting.title +'</span>'+
    	   '<span class="keywords" id='+posting.keywords+'><button class="machingListBtn" onclick="machingList(event,'+posting.posting_id+')">매칭리스트보기</button></span></div><div class="machingBox" id =machingBox'+posting.posting_id+' ></div>';
       });
       
       
    };
    xhttp.open("GET", "http://localhost:8888/company/positionProposal?company_id=" + company_id);
    xhttp.send();
}

 function machingList(e,posting_id){
	 let keywords = e.target.closest(".keywords").id;
	 alert(keywords);
	 const box = document.getElementById('machingBox' + posting_id);
	 box.innerHTML='';
	 let company_id = '[[${session.company_id}]]';
	 const xhttp = new XMLHttpRequest();
	    xhttp.onload = function() {
	       let users = JSON.parse(this.responseText);
	       
	       users.forEach(user =>{
	    	   let btn="";
	    	   if(user.proposalStatus=="0"){
	    		   btn='<button class="proposalBtn" onclick="proposal(event,'+company_id+','+user.user_id+')">포지션제안</button>';
	    	   }else if(user.proposalStatus=="1"){
	    		   btn='제안완료';
	    	   }
	    	  box.innerHTML += '<div class="application_id"id='+user.user_id+'> <span class="name">' + user.name + '</span>'+
	    	   '<span class="UserInfo"> 생년월일:'+user.birth_date.slice(0,10)+' 성별:'+user.gender+' 이메일:'+user.email+'</span>' +
	    	   '<span class="proposal" id='+company_id+'>'+btn+'</span></div>';
	       });
	       
	       
	    };
	    xhttp.open("GET", "http://localhost:8888/company/machingList?keywords=" + keywords +"&company_id=" + company_id);
	    xhttp.send();
 }
 
 function proposal(e,company_id,user_id){
	 location.href="/company/position_suggestion?company_id="+company_id+"&user_id="+user_id;
	 
 }
</script>
</body>
</html>