<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>이력서 보기</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <style>
        .resume-section {
            margin-bottom: 20px;
        }

        .resume-section h3 {
            margin-bottom: 10px;
        }

        .resume-section p {
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div id="resumeContainer">
        <div class="resume-section" id="titleSection">
            <h2 id="title"></h2>
        </div>
        <div class="resume-section" id="profilePhotoSection">
            <h3>프로필 사진</h3>
            <img id="profilePhoto" src="" alt="Profile Photo" />
        </div>
        <div class="resume-section" id="userinfoSection">
            <h3>유저정보</h3>
            이름:<span id="name"></span>
            연락처:<span id="contact"></span>
            나이:<span id="age"></span>
            성별:<span id="gender"></span>
        </div>
        <div class="resume-section" id="desiredJobSection">
            <h3>희망직무</h3>
            <p id="desiredJob"></p>
        </div>
        <div class="resume-section" id="skillsSection">
            <h3>보유스킬</h3>
            <p id="skills"></p>
        </div>
        <div class="resume-section" id="licensesSection">
            <h3>보유자격증</h3>
            <p id="licenses"></p>
        </div>
        <div class="resume-section" id="experiencesSection">
            <h3>경력사항</h3>
            <p id="experiences"></p>
        </div>
        <div class="resume-section" id="educationSection">
            <h3>학력사항</h3>
            <p id="education"></p>
        </div>
        <div class="resume-section" id="preferencesSection">
            <h3>취업우대사항</h3>
            <p id="preferences"></p>
        </div>
        <div class="resume-section" id="coverLetterSection">
            <h3>자기소개서</h3>
            <div id="coverLetterContainer"></div>
        </div>
        <div class="resume-section" id="desiredConditionsSection">
            <h3>희망근무조건</h3>
            <p id="desiredConditions"></p>
        </div>
        <div class="resume-section" id="portfolioSection">
            <h3>포트폴리오</h3>
            <p id="portfolio"></p>
        </div>
    </div>
    <button id="editButton">수정하기</button>
    <div id="applicant"></div>
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const resumeId = urlParams.get('resume_id');
            if (resumeId) {
                viewResume(resumeId);
            } else {
                alert('이력서 ID가 필요합니다.');
            }

            $('#editButton').click(function () {
                window.location.href = `/user/updateResume?resume_id=${resumeId}`;
            });
        });

        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = ('0' + (date.getMonth() + 1)).slice(-2);
            const day = ('0' + date.getDate()).slice(-2);
            return `${year}-${month}-${day}`;
        }

        function calculateAge(birthDateString) {
            const birthDate = new Date(birthDateString);
            const today = new Date();
            let age = today.getFullYear() - birthDate.getFullYear();
            const monthDifference = today.getMonth() - birthDate.getMonth();
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        function formatContact(contact) {
            return contact.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
        }

        function formatGender(gender) {
            return gender === 'M' ? '남' : '여';
        }

        function formatLicenses(licenses) {
            return licenses.split(' | ').map(license => {
                const [name, issuer, date] = license.split(', ');
                return `자격증 이름: ${name} 발행처: ${issuer} 취득연월: ${formatDate(date)}`;
            }).join('<br>');
        }

        function formatExperiences(experiences) {
            return experiences.split(' | ').map(exp => {
                const [company, department, start, end, position, responsibility] = exp.split(', ');
                return `회사명: ${company} 부서명: ${department} 입사년월: ${formatDate(start)} 퇴사년월: ${formatDate(end)} 직급/직책: ${position} 담당직무: ${responsibility}`;
            }).join('<br>');
        }

        function formatEducation(education) {
            return education.split(' | ').map(edu => {
                const [level, school, entrance, graduation, status, major, gpa] = edu.split(', ');
                let eduStr = `학력구분: ${level} 학교명: ${school} 입학년월: ${formatDate(entrance)} 졸업년월: ${formatDate(graduation)} 졸업상태: ${status}`;
                if (level !== "고등학교졸업") {
                    eduStr += ` 전공명: ${major} 학점: ${gpa}`;
                }
                return eduStr;
            }).join('<br>');
        }

        function formatCoverLetters(titles, contents) {
            const titlesArray = titles.split(', ');
            const contentsArray = contents.split(', ');
            return titlesArray.map((title, index) => {
                return `<div>자기소개서 제목: ${title}<br>자기소개서 내용: ${contentsArray[index]}</div>`;
            }).join('<br>');
        }

        function viewResume(resumeId) {
            $.ajax({
                url: `http://localhost:8888/user/resume?resume_id=${resumeId}`,
                method: "GET",
                success: function (data) {
                    if (data) {
                        $('#title').text(data.title);
                        $('#name').text(data.name);
                        $('#contact').text(formatContact(data.contact));
                        $('#age').text(calculateAge(data.birth_date));
                        $('#gender').text(formatGender(data.gender));
                        $('#profilePhoto').attr('src', `/images/${data.photo_newName}`);
                        $('#desiredJob').text(`희망직무: ${data.desired_job}`);
                        $('#skills').text(`보유스킬: ${data.skills}`);
                        $('#licenses').html(formatLicenses(data.license));
                        $('#experiences').html(formatExperiences(data.experience));
                        $('#education').html(formatEducation(data.education));
                        $('#preferences').text(`취업우대사항: ${data.preferences}`);
                        $('#coverLetterContainer').html(formatCoverLetters(data.cover_letter_title, data.cover_letter_content));
                        $('#desiredConditions').text(`희망근무지: ${data.desired_conditions}`);
                        $('#portfolio').text(`포트폴리오: ${data.portfolio}`);
                    } else {
                        alert('이력서를 찾을 수 없습니다.');
                    }
                },
                error: function () {
                    alert('이력서를 가져오는 중 오류가 발생했습니다.');
                }
            });
        }

        
       //기업 관련
        function preApplicantCheck(){
        	 const urlParams = new URLSearchParams(window.location.search);
             const resume_id = urlParams.get('resume_id');
             const urlCompany_id = urlParams.get('company_id');
             const company_id = "[[${session.company_id}]]";
             if(urlParams.get('application_id')!=null && company_id == urlCompany_id){
	             const application_id = urlParams.get('application_id');
	             
	             
	             $.ajax({
	                 url: "http://localhost:8888/company/jobapplication/" + application_id,
	                 method: "GET",
	                 success: function (data) {
	                	 console.log("성공 들어옴"+data);
	                	 if (data) {
	                     	if(data.resume_viewed==0){
	                     	 $('#applicant').html('<button id="passButton" onclick="pass()">합격</button><button id="nonPassButton" onclick="nonPass()">불합격</button>');
	                     		
	                     	}else if(data.resume_viewed==1){
	                     		$('#applicant').html('합격');
	                     	}else if(data.resume_viewed==2){
	                     		$('#applicant').html('불합격');
	                     	}
	                	 }
	                 },
	                 error: function () {
	                     alert('지원이력을 가져오는데 오류가 발생했습니다.');
	                 }
	             });
             }
        }
        
        function pass(){
        	if(confirm("서류 합격 하시겠습니까?")){
        		 const urlParams = new URLSearchParams(window.location.search);
                 const resume_id = urlParams.get('resume_id');
                 if(urlParams.get('application_id')!=null){
     	             const application_id = urlParams.get('application_id');
     	             
     	             
     	             $.ajax({
     	                 url: "http://localhost:8888/company/jobapplication/pass/" + application_id,
     	                 method: "put",
     	                 success: function (data) {
     	                	 console.log("pass 들어옴");
     	                	 preApplicantCheck();
     	                 },
     	                 error: function () {
     	                     alert('지원이력을 가져오는데 오류가 발생했습니다.');
     	                 }
     	             });
                 }
        	}
       	
       }
        function nonPass(){
        	if(confirm("서류 불합격 하시겠습니까?")){
        		
          		const urlParams = new URLSearchParams(window.location.search);
               const resume_id = urlParams.get('resume_id');
               if(urlParams.get('application_id')!=null){
   	             const application_id = urlParams.get('application_id');
   	             
   	             
   	             $.ajax({
   	                 url: "http://localhost:8888/company/jobapplication/nonPass/" + application_id,
   	                 method: "put",
   	                 success: function (data) {
   	                	 console.log("nonPass 들어옴");
   	                	 preApplicantCheck();
   	                 },
   	                 error: function () {
   	                     alert('지원이력을 가져오는데 오류가 발생했습니다.');
   	                 }
   	             });
               }
        	}
          }
        
        preApplicantCheck();
    </script>
</body>

</html>
